<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>To update profile picture</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>To update profile picture</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To get current location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>To get current location</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>To get current location</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-SemiBold.ttf</string>
		<string>Roboto-Black.ttf</string>
	</array>
	<key>ServerURL</key>
	<string>$(DummyJsonServerURL)</string>
</dict>
</plist>
